section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 112px;
    margin-bottom: 70px;
    margin-left: 300px;
    width: 81%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.container .title{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
}

.container .title span:last-child{
    font-size: 2.5rem;
}

.agente{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container .agente-image img{

    height: 600px;
    
}



.container .agente-description{
    font-size: 1.6rem;
}


.container .sub-title{
    font-weight: 800;
    font-size: 1.4rem;
}


.agente-role{
    display: flex;
    flex-direction: column;
    gap: 20px;
   

}

.agente-role img{
    width: 30px;
}

.info-role{
   
    background: var(--secondary-color);
    padding: 12px;
    border-radius: 0.435rem;
    cursor: default;
}

.info-role .title-role{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 700;

}

.info-role{
    font-size: 1.4rem;
}

.agente-abilities{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.abilities{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.ability{
    background: var(--secondary-color);
    padding: 12px;
    border-radius: 0.435rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
}

.ability:hover{
    scale: 1.01;
}

.ability-name{
    font-weight: 700;
}

.container .ability-image img{
    width: 50px;
}

@media screen and (max-width: 768px) {

    .container{
        margin-left: 30px;
    }

    .abilities{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .agente-image img{
        height: 300px!important;
    }
    
}