<nav>
    <div class="navbar-content">

        <div class="logo">
            <div class="logo-img"><img src="assets/896e0ad35109cb86273693350ccdd559.png" alt=""></div>
            <div class="logo-text">About Valorant</div>
        </div>
        <div class="infos">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Contato</a></li>
                <li><a href=""><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</nav>