section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 112px;
    margin-bottom: 70px;
    margin-left: 300px;
    width: 81%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.container .title{
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 25px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
}

.container .weapons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    width: 97%;
}



.container .weapon{
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 0.435rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
}



.weapon-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.weapon-image img{
    height: 50px;
    
}

.weapon button{
    margin-top: 10px;
    border: none;
    outline: none;
    background: var(--white-color);
    padding: 10px;
    border-radius: 0.435rem;
    font-weight: 600;
    font-family: var(--font-family-1);
    cursor: pointer;
}

.weapon button:active{
    scale: 1.1;
}


.weapon-infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.weapon-skins{
    position: fixed;
    width:  50%;
    height: 52vh;
    overflow-y: scroll;
    background: rgba(199, 0, 56, 0.877);
    top: 30px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3     ,1fr);
    gap: 10px;
    padding: 90px 30px;
    box-shadow: 0 0 1000px 300px black;
    border-radius: 0.435rem;
}

.weapon-skins::-webkit-scrollbar{
    width: 10px;
    background-color: var(--secondary-color);
    
}

.weapon-skins::-webkit-scrollbar-thumb{
    background: var(--white-color);
    border-radius: 0.435rem;
}

.weapon-skins .close-modal{
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    left: 30px;
    top: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
}

.weapon-skins .close-modal span{
    position: relative;
}

.weapon-skins .close-modal span::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--white-color);
}



.weapon-skin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weapon-skin img{
    width: 300px;
    max-height: 125px;
}

.weapon-skin .weapon-skin-name{
    font-weight: 600;
    cursor: default;
}

.weapon-image{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



@media screen and (max-width: 768px) {
    .container{
        margin-left: 30px;
        width: 82%;
        overflow:unset;

    }

    .weapons{
        grid-template-columns: repeat(1,1fr)!important;
    }

    .weapon{
        width: 100%;
        overflow: hidden!important;
    }

    .weapon-skins{
        width: 70vw;
        height: 100vh;
        grid-template-columns: repeat(1,1fr);
        padding: 90px 40px;
    }

    .close-modal span{
        font-size: 1.7rem;
    }
}