section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 112px;
    margin-bottom: 70px;
    margin-left: 300px;
    width: 81%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.container .title{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
}

.maps{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.map{
    position: relative;
    width: 100%;
    height: 270px;
    border-radius: 0.435rem;
    overflow: hidden;
}

.map .map-text{
    width: 96%;
    position: absolute;
    z-index: 2;
    height: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
    bottom: 0px;
    padding: 10px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--secondary-color);
}

.map .map-text::-webkit-scrollbar{
    width: 10px;
}

.map .map-text::-webkit-scrollbar-thumb{
    background: var(--white-color);
    border-radius: 10px;

}

.map-text .map-name{
    font-size: 1.3rem;
    font-weight: 800;
}

.map-image{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.maps img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .container{
        margin-left: 30px;
    }

    .maps{
        grid-template-columns: repeat(1,1fr);
    }
}