section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 112px;
    margin-bottom: 70px;
    margin-left: 300px;
    width: 81%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.container .title{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
}

.container .elos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


.container .elos .elo:is(.active){
    height: 300px;
    background: var(--secondary-color);
    border-radius: 0.435rem;

    overflow: hidden;

}


.container .elos .elo img{
    width: 125px;
}

.container .elos .elo div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.container .elos .elo div .elo-name{

font-weight: 700;

}