section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 112px;
    margin-bottom: 70px;
    margin-left: 300px;
    width: 81%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.container .title{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
}


.container .temporadas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding: 10px;
}

.container .temporadas .temporada{
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 0.435rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
}

.temporada:hover{
    scale: 1.01;
}

.container .temporadas .temporada .temporada-name{
    font-size: 1.3rem;
    font-weight: 600;
}

.temporada-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}