section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 112px;
    margin-bottom: 70px;
    margin-left: 300px;
    width: 81%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.container .title{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: default;
    padding-left: 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding: 10px;
}

.cards .card{
    position: relative;
    width: 150px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--secondary-color);
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 0.435rem;
    box-shadow: 0 0 10px black;
    cursor: default;
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 0%, transparent 100%);
    border-radius: 0.435rem;

    z-index: 2;
}

.card:hover{
    scale: 1.02;
}

.cards .card .card-name{
    font-weight: 700;
    position: absolute;
    top: 80%;
    z-index: 2;
}

.cards img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.435rem;

}


@media screen and (max-width: 768px) {
    .container{
        margin-left: 30px;
        overflow: unset;
    }

    .cards{
        grid-template-columns: repeat(1,1fr);
    }

    .card{
        width: 100%!important;
        height: 420px!important;
    }

    .card img{
        object-fit: fill;
    }
}